* {
    margin: 0;
    padding: 0;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}
.main-nav li.active a {
    border: 1px solid black;
}
.main-nav li a:hover {
    border: 1px solid black;
}
.logo {
    height: auto;
    float: left;
}
.row {
    margin: auto;
}
.intro {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}
.intro {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1em;
    position: fixed;
    top: 50%;
    left: 30%;
}
.intro .button .button-one {
    display:inline-block;
    padding: 2em 0em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: blue;
    text-align: center;
    transition: all 0.2s;
}
.intro .button .button-one:hover {
    color: #000000;
    background-color: #FFFFFF;
}