* {
    margin: 0;
    padding: 0;
}
body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}
.main-nav li.active a {
    border: 1px solid black;
}
.main-nav li a:hover {
    border: 1px solid black;
}
.logo {
    height: auto;
    float: left;
}
.row {
    margin: auto;
}
.intro {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    font-size: 1em; 
    position: fixed;
    top: 68%;
    left: 33%;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}
.intro .button .button-one {
    display:inline-block;
    padding: 1em 1em;
    border:0.2em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1em;
    color:white;
    text-align: center;
    transition: all 0.2s;
}
.button .button-one:hover {
    color: #43C6AC;
    background-color: #FFFFFF;
    
}
.intro{
    color: white;
}
.button-one {
    position: absolute;
    top: 120%;
    left: 26%;
    
}

.eden_logo {
    position: absolute;
    left: 30%;
    top: 10%;
}