
body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.title, .pioneer, .advocate {
    position: absolute;
    text-align: center;
    font-family: 'Abel', sans-serif;

}    
#pioneer_img, #advocate_img {
    position: absolute;
    top: 40%;
}

p {
    position: absolute;
    font-family: 'Abel', sans-serif;        
}

/* Create Post CSS */

.create {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    width: 600px;
    height: 30px;
}    
.all {
    position: absolute;
    left: 30%;
}

label {
    font-size: 160%;
}
textarea {
    resize: none;
  }
textarea:valid {
    border: 2px solid white;
}
textarea:invalid {
    border: 2px solid red;
}

.button .button-one {
    display:inline-block;
    padding: 1em 1em;
    border:0.2em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1em;
    color:white;
    text-align: center;
    transition: all 0.2s;
}
.button .button-one:hover {
    color: #43C6AC;
    background-color: #FFFFFF;
    
}
.button-one {
    position: absolute;
    top: 110%;
    left: 40%;   
}

/* Search Lists CSS */

.list_one {
    font-size: 120%;
    border: 5px solid white;
    background: white;
    padding: 0px 5px;
    border-radius: 10px;
    width: auto;
    height: auto;
}  
.list_two {
    font-size: 120%;
    border: 5px solid white;
    background: white;
    padding: 0px 5px;
    border-radius: 0px;
    width: 600px;
    height: 80px;
}    

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
}

input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    
}

::-webkit-input-placeholder {
    margin: 8px 0;
    box-sizing: border-box;
    opacity: 20%;
}

#submit_button {
    display:inline-block;
    padding: 1em 1em;
    border:0.2em solid #FFFFFF;
    margin:0 0.3em 0.6em 0;
    border-radius: 10em;
    box-sizing: border-box;
    text-decoration:none;

    font-weight: 300;
    font-size: 1em;
    color:#43C6AC;
    text-align: center;
    transition: all 0.2s;
    background: none;
    color: white;
}
#submit_button:hover {
    color: #43C6AC;
    background-color: #FFFFFF;
    
}
#submit_button {
    position: absolute;
    top: 106%;
    left: 40%; 
      
}
