
body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.title, .pioneer, .advocate {
    position: absolute;
    text-align: center;
    font-family: 'Abel', sans-serif;

}    
#pioneer_img, #advocate_img {
    position: absolute;
    top: 40%;
}

p {
    position: absolute;
    font-family: 'Abel', sans-serif;        
}

/* Create Page CSS */

.create_bar {
    border: 10px;
}    

.fill_in_box {
    border: 20px; 

}
.h3 {
    font-family: 'Abel', sans-serif;
}